.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: var(--userList-wrapper-bg, #f8f8f8);
  overflow: hidden;
}
.filter {
  flex: 0 1 auto;
  margin: var(--userList-filter-margin, 20px);
}
.filter input {
  width: 100%;
  padding: 14px 40px 14px 20px;
  background: #ffffff url('./images/search.svg') 95% 50% no-repeat;
  background-size: 16px 16px;
  border-radius: 5px;
  border: solid 1px #d4d4d4;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  outline: none;
  caret-color: #48a1e6;
}
.filter input::placeholder {
  color: #b8b8b8;
}
.filter input:hover,
.filter input:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.filter input:hover {
  border-color: #b8b8b8;
}
.filter input:focus {
  border-color: #48a1e6;
}
.list {
  flex: 1 1 auto;
  margin: var(--userList-list-margin, 20px);
  overflow: hidden;
  overflow-y: auto;
}
.list .group {
  margin-top: 20px;
  position: relative;
}
.list .group:first-child {
  margin-top: 0;
}
.list .group .group-title {
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: var(--userList-group-title-bg, #f8f8f8);
  z-index: 1;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.list .item {
  position: relative;
  margin-top: var(--userList-item-mt, 12px);
  padding: var(--userList-item-pd, 10px 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--userList-item-bg, #fff);
  border-radius: var(--userList-item-br, 5px);
}
.list .item:hover {
  background: var(--userList-item-bg--hover, #fff);
}
.list .item:first-child {
  margin-top: 0;
}
.list .item .info {
  display: flex;
  align-items: center;
  min-width: 0;
}
.list .item .info .avatar {
  width: var(--userList-avatar-width, 32px);
  height: var(--userList-avatar-height, 32px);
  margin-right: var(--userList-avatar-mr, 12px);
  flex: 0 0 auto;
  position: relative;
  user-select: none;
}
.list .item .info .avatar .image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: #d4d4d4;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
.list .item .info .avatar .status {
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  background: #7fc92e;
  border: 2px solid #fff;
  border-radius: 100%;
}
.list .item .info .name {
  min-width: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  color: var(--userList-text-color, #333);
}
.list .item .info .name > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list .item .info .name.highlighted {
  color: #48a1e6;
}
.list .item .actions {
  display: flex;
  align-items: center;
  background: var(--userList-actions-bg, transparent);
}
.list .item:hover .actions {
  position: var(--userList-actions-position--hover, relative);
  right: var(--userList-actions-right--hover, 0);
  padding: var(--userList-actions-pd--hover, 0);
  background: var(--userList-actions-bg--hover, transparent);
}
.list .item .actions .action {
  width: var(--userList-action-width, 22px);
  height: var(--userList-action-height, 22px);
  margin-left: var(--userList-action-ml, 5px);
  position: relative;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: var(--userList-action-bgSize, contain);
  user-select: none;
}

.list .item .actions .action:not(.disabled) {
  cursor: pointer;
}

.list .item:hover .actions .action {
  width: var(--userList-hoveredItem-action-width, 22px);
  height: var(--userList-hoveredItem-action-height, 22px);
  margin-left: var(--userList-hoveredItem-action-ml, 5px);
  background-size: var(--userList-hoveredItem-action-bgSize, contain);
}

.list .item .actions .action.applicable {
  cursor: pointer;
}
.list .item .actions .action.disabled {
  opacity: .4;
  cursor: not-allowed;
}
.list .item .actions .action .popover {
  z-index: var(--userList-popover-zIndex, 10);
  position: absolute;
  top: var(--userList-popover-top, -6px);
  right: var(--userList-popover-right, 30px);
  display: none;
  opacity: var(--userList-popover-opacity, 1);
  padding: var(--userList-popover-pd, 8px 12px);
  border: var(--userList-popover-border, solid 1px #d4d4d4);
  border-radius: var(--userList-popover-borderRadius, 2px);
  box-shadow: var(--userList-popover-boxShadow, 0 6px 20px 0 rgba(0, 0, 0, 0.1));
  background: var(--userList-popover-bg, #fff);
  font-family: var(--userList-popover-fontFamily, inherit);
  font-size: var(--userList-popover-fontSize, 14px);
  color: var(--userList-popover-color, #333);
  white-space: nowrap;
}
.list .item .actions .action .popover::after {
  content: '';
  position: absolute;
  top: var(--userList-popover-arrow-top, 12px);
  right: var(--userList-popover-arrow-right, -5px);
  height: var(--userList-popover-arrow-height, 8px);
  width: var(--userList-popover-arrow-width, 8px);
  border-top: var(--userList-popover-arrow-borderTop, solid 1px #d4d4d4);
  border-right: var(--userList-popover-arrow-borderRight, solid 1px #d4d4d4);
  border-bottom: var(--userList-popover-arrow-borderBottom, solid 1px transparent);
  border-left: var(--userList-popover-arrow-borderLeft, solid 1px transparent);
  border-radius: var(--userList-popover-arrow-borderRadius, 0 2px 0 0);
  background: var(--userList-popover-arrow-bg, #fff);
  transform: var(--userList-popover-arrow-transform, rotate(45deg));
}
.list .item .actions .action:hover .popover {
  display: block;
}
.list .item .actions .action.disabled:hover .popover {
  display: none;
}
